body {
  background-color: #efefef;
  font-size: 14px;
  color: #333;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 30px;
}
img {
  width: 100%;
}

.main {
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid #777;
}
.container {
  margin: 0 auto 0 auto;
  width: 70%;
}

.header-title-area {
  text-align: center;
  background-color: #fff;
}

.logo {
  font-size: 30px;
}
.text-sub {
  color: #777;
}

.header-navigation {
  width: 100%;
  background-color: #000;
  padding: 20px 0;
  margin: 0;
}

.header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}
.header-navigation li {
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}

.header-navigation li a {
  color: #c0c0c0;
  text-decoration: none;
}

.header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}

.text-title {
  font-size: 24px
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}
.left-card-contents {
  padding: 40px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  float: left;

}

.left-contents {
  width: 70%;
  float: left;
}

.right-contents {
  width: 30%;
  float:left;
}
.text-title {
  color: #000;
}

.blog-contents {
  width: 50%;
  height: 50%;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}

.new-title {
  border-bottom: 1px solid #333;
  width: 70%;
  padding-bottom: 0;
}
.sample-day {
  margin-bottom: 20px;
}

.sample-images {
width: 60px;
height: 60px;
float:left;
margin-right: 5px;
}


.copyright {
 color: #777;
 text-align: center;
 background-color: #fff;
 padding: ;
 width: 70%;
 margin: 0 auto;
}
.main:after {
  clear: both;
  display: block;
  content: " ";
}

.left-text {
}

.left-text:after {
  clear: both;
}

.sample-titles {
  font-size: 10px;
}
.footer {
 background-color: #fff;
 border-top: 1px solid #777;
}

.right-card-contents {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  float: left;
  width: 100%;
}
